/* style.css */

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, #165a23, #29883f);
    background-attachment: fixed;
    color: rgba(22, 79, 36, 0.831);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'HeaderFont';
    src: url(fonts/Fancy) format (opentype);
    font-display: swap;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 5px;

    /* Header colour */
    background: rgb(82, 168, 92);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 16px;
    margin: 40px 20px 20px;
    padding: 10px 20px;
}

header h1 {
    font-family: "Caveat Brush", sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 5px;
    text-align: left;
    color: rgba(11, 50, 19, 0.943);
}

header img {
    width: 3rem;
    height: 3rem;
}

nav {
    font-family: "Caveat", sans-serif;
    display: flex;
    gap: 30px;
    justify-self: end;
    line-height: 2rem;
}

nav a {
    color: rgba(221, 230, 223, 0.836);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.4rem 0;
    text-decoration: none;
    transition: color 3.0, opacity 0.3;
}

nav a:hover {
    color: rgb(247, 239, 214);
    transform: translateY(2px);
}

h2, h3, h4 {
    color: rgba(13, 52, 21, 0.943);
}
/* Main element grid*/

main {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1920px;

}

article {
    background: rgb(82, 168, 92);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 25px;
    text-align: left;
    min-width: 20em;
    max-width: 30em;
}

article img {
    display: blok;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 16px;
    object-fit: cover;
}

aside {
    grid-column: 1;
    grid-row: 1 / span 2;
    background: rgb(39, 119, 94);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 25px;
    text-align: left;
}

@media (max-width: 1200px) {
    main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(17, 44, 23);
    margin: 20px 0;
}
